@charset "utf-8";
body {
	/* background-color: #5f6873 !important; */
	/* background: url("../images/cityhall.jpg") no-repeat center center fixed; */
	font-size: 1.5rem;
	font-weight: bolder;
}
nav {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 1rem;
	color:#2f3640;
}
h1 {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 3rem;
	color: #2f3640;
	text-align: left;
	border-style: outset;
	border-color: #4b8ca6;
	border-width: 8px;
	display: inline-block;
}
h2 {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 2.5rem;
	color: #5f6873;
	text-align: left;
}
p {
	font-family: 'Courier New', Courier, monospace;
	color: #283240;
	font-size: 1.5rem;
}
.bg-city-hall {
	background-image: url("../images/cityhall.jpg") !important;
	/* height: 100%;
	width: 100%; */
}

#bigify {
	width: 100%;
	height: 3800px;
}
